<div class="card">
    <div class="row">
        <div class="col-md-4">
            <div class="container mt-4" *ngIf="registrarAntojito">
                <app-editar [idAntojitos]="idAntojitos" (terminarActualizacion)="terminarActualizacion($event)">
                </app-editar>
            </div>
            <div class="container mt-4" *ngIf="actualizarAntojito">
                <app-registrar [idAntojitos]="idAntojitos" (terminarActualizacion)="terminarActualizacion($event)">
                </app-registrar>
            </div>
        </div>
        <div class="col-md-8">
            <form>
                <div class="row container mt-4">

                    <div class="col-md-11 mt-2">
                        <input type="text" [(ngModel)]="searchText" name="searchText" class="form-control form-control-sm ops" placeholder=" Buscar...">
                    </div>

                    <div class="col-md-1 mt-2">
                        <div>
                            <button type="button" class="btn btn-info btn-sm" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="fa fa-ellipsis-h "></i></button>
                            <div class="dropdown-menu dropdown-menu-right shadow-lg " aria-labelledby="dropdownReports">
                                <div class="dropdown-header text-info ">
                                    <span class="text-xs text-uppercase ">EXPORTAR</span>
                                </div>
                                <a type="button" class="dropdown-item drop-options-text pdf " (click)="exportPDF()"><i class="fa fa-file-pdf-o mr-2 "></i>PDF</a>
                                <a type="button" class="dropdown-item drop-options-text excel" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o mr-2 "></i>Excel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row container mt-4">

                    <div class="container small">

                        <div class="row fadeIn">
                            <div class="col-12">
                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                    <table id="tab1" class="table table-sm table-hover table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col">NOMBRE</th>
                                                <th scope="col" class="text-center">ACTIVO</th>
                                                <th scope="col" class="text-center">ACCIONES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let antojito of antojitos ">
                                                <td>{{antojito.strNombre}}</td>
                                                <td>{{antojito.strDescripcion}}</td>
                                                <td>{{antojito.strIngredientes}}</td>
                                                <td>{{antojito.numbPieza}}</td>
                                                <td>{{antojito.numbPrecio}}</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-info btn-sm" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h "></i></button>
                                                    <div class="dropdown-menu dropdown-menu-right shadow-lg " aria-labelledby="dropdownReports">
                                                        <div class="dropdown-header text-info ">
                                                            <span class="text-xs text-uppercase ">Acciones</span>
                                                        </div>
                                                        <a type="button" class="dropdown-item drop-options-text excel " (click)="mostrarActualizar(antojitos._id)"><i class="fa fa-edit mr-2 "></i>Actualiza</a>
                                                        <a type="button" class="dropdown-item drop-options-text excel " [routerLink]="['/antojitos', antojitos._id]"><i class="fa fa-edit mr-2 "></i>Platillos</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tr class="bg-white" *ngIf="antojitos == '' || antojitos === undefined && !cargando">
                                            <td colspan="4" class="text-center">
                                                <div class="alert alert-dismissible alert-light">
                                                    <h5 style="height: 100%; width: 100%;">
                                                        <strong><i class="fa fa-frown-o" aria-hidden="true"></i> ¡NO HAY REGISTROS PARA MOSTRAR!</strong>
                                                    </h5>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- SE MUESTRA CUANDO ESTÁ CARGANDO -->
                                        <tr *ngIf="cargando">
                                            <td colspan="14">
                                                <div class=" alert-dismissible text-center" style="padding: .75rem 1.25rem;">
                                                    <h5 style="height: 100%;width: 100%;"><strong><i class="fa fa-spinner fa-pulse"></i> CARGANDO</strong>
                                                    </h5>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>